.featuredItem {
  flex: 1;
  width: 221px;
  height: 102px;
  background-color: #f3f5f7;
  border-radius: 8px;
  margin-inline: 20px;
  padding-inline: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.featuredTitle {
  /* padding-block: 10px; */
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 90px;
}
.featuredMain {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.featuredSub {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  padding-top: 40px;
}
.featuredIcon > img {
  width: 51px;
  height: 51px;
}
